body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
}

.buttonStyling {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    padding: 15px 30px;
    border: solid rgb(188, 176, 158) 4px;
    border-radius: 10px;
    font-size: 16px;
}

.buttonStyling:hover {
    background-color: rgb(188, 176, 158);
    color: white;
}

.buttonStyling[disabled] {
    background-color: lightgrey; 
    border: solid grey 4px;
    color: grey;
    cursor: not-allowed; 
}

.buttonStyling:focus {
    background-color: rgb(188, 176, 158);
    color: white;
}

.englishFlagStyling {
    cursor: pointer;
}

.danishFlagStyling {
    cursor: not-allowed; 
}
